Source: {package_name}
Section: misc
Priority: optional
Maintainer: {author_name} <{author_mail}>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
{homepage}

Package: {package_name}
Architecture: any
Multi-Arch: foreign
Depends: ${{misc:Depends}}, ${{shlibs:Depends}}, {dependencies}
Description: FIRST LINE HERE
 LONG DESC HERE LONG DESC HERE LONG DESC HERE LONG DESC HERE
 LONG DESC HERE LONG DESC HERE LONG DESC HERE LONG DESC HERE
 .
 {package_name} has been build using ELF2deb.
