Source: {package_name}
Section: misc
Priority: extra
Maintainer: {author_name} <{author_mail}>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: {homepage}

Package: {package_name}
Architecture: any
Multi-Arch: foreign
Depends: ${{misc:Depends}}, ${{shlibs:Depends}}, {dependencies}
Description: TODO FIRST LINE
 LONG DESC HERE LONG DESC HERE LONG DESC HERE LONG DESC HERE
 LONG DESC HERE LONG DESC HERE LONG DESC HERE LONG DESC HERE
 LONG DESC HERE LONG DESC HERE LONG DESC HERE LONG DESC HERE

